DJANGO_ENV=dev изменить на prod в зависимости в каком режиме запускаемся

SECRET_KEY=django-insecure-yi+)_#*m@=yffyhugwsbdu!t@$@k+9*a5d22z8_-^%x*6l#pet
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DJANGO_SETTINGS_MODULE=mailings_project.settings.prod

DATABASE_NAME=mailings_project
DATABASE_USER=andrdd17
DATABASE_PASSWORD='u|D".s&qcX'
DATABASE_HOST=127.0.0.1 для dev, изменить на db для prod
DATABASE_PORT=5432

REDIS_HOST=127.0.0.1 для dev, изменить на redis для prod
REDIS_PORT=6379

SECURE_SSL_REDIRECT=False

EMAIL_HOST=smtp.yourmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=you@yourmail.com
EMAIL_HOST_PASSWORD=mailpassword
EMAIL_USE_TLS=True

CELERY_LOG_FILE=/app/logs/celery.log
CELERY_BEAT_LOG_FILE=/app/logs/celery_beat.log