Django>=5.0
gunicorn
psycopg2-binary
django-environ
django-redis
djangorestframework
django-apscheduler
celery==5.3.6
django-celery-beat==2.8.1
django-celery-results==2.5.1
django-jazzmin==3.0.1
django-debug-toolbar==4.3.0
whitenoise==6.7.0