{% extends 'base.html' %}
{% block title %}Мои рассылки{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Мои рассылки</h2>
        <a href="{% url 'mailings:mailing_create' %}" class="btn btn-success">Создать рассылку</a>
    </div>

    {% if mailings %}
    <table class="table table-striped align-middle">
        <thead class="table-primary">
        <tr>
            <th>Название</th>
            <th>Периодичность</th>
            <th>Статус</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th class="text-end">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for mailing in mailings %}
        <tr>
            <td>{{ mailing.name }}</td>
            <td>{{ mailing.get_periodicity_display }}</td>
            <td>{{ mailing.get_status_display }}</td>
            <td>{{ mailing.date_first_dispatch|date:"d.m.Y H:i" }}</td>
            <td>{{ mailing.dispatch_end_date|date:"d.m.Y H:i" }}</td>
            <td class="text-end">
                <a href="{% url 'mailings:mailing_update' mailing.pk %}" class="btn btn-sm btn-primary">✏️</a>
                <a href="{% url 'mailings:mailing_delete' mailing.pk %}" class="btn btn-sm btn-danger">🗑️</a>

                <form action="{% url 'mailings:mailing_action' mailing.pk 'start' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-success">▶️ Запустить</button>
                </form>

                <form action="{% url 'mailings:mailing_action' mailing.pk 'stop' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-warning">⏸️ Остановить</button>
                </form>

                <form action="{% url 'mailings:mailing_action' mailing.pk 'send' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-info text-white">⚡ Отправить сейчас</button>
                </form>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info">Пока нет рассылок.</div>
    {% endif %}
</div>
{% endblock %}
